Repository dionannd/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js'",
    "prettier -w"
  ],
  "**/*.{json,css,scss,md,webmanifest}": ["prettier -w"]
}

chore: update dep
  bun.lockb
  package.json
Due: prettier -w

fix: update husky
  .husky/pre-commit
Due: none

fix: update husky config
  .husky/commit-msg
  .husky/post-merge
  .lintstagedrc.json
Due: prettier -w

chore: remove package
  bun.lockb
  package.json
Due: prettier -w

fix: og route error while build prod
  bun.lockb
  eslint.config.mjs
  package.json
  src/app/og/route.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: og route error while build prod
  bun.lockb
  package.json
Due: prettier -w

chore: remove file .eslintrc.json, migration to .eslint.config.mjs
  .eslintrc.json
Due: prettier -w

fix: update meta data with variable env
  src/app/blog/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/work/page.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: update nextconfig
  bun.lockb
  next.config.mjs
  package.json
  tailwind.config.ts
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

chore: update next to canary
  bun.lockb
  package-lock.json
  package.json
Due: prettier -w

feat: add new page uses
  src/app/blog/page.tsx
  src/app/uses/page.tsx
  src/app/work/page.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: update page guestbook
  bun.lockb
  package.json
  src/app/auth.ts
  src/app/db/actions.ts
  src/app/db/blog.ts
  src/app/db/postgres.ts
  src/app/db/queries.tsx
  src/app/guestbook/page.tsx
  src/auth.ts
  src/components/guestbook/button.tsx
  src/components/guestbook/form.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: upadte page blog dan work
  .nvmrc
  public/sprite.svg
  src/app/blog/page.tsx
  src/app/blog/view-counter.tsx
  src/app/db/blog.ts
  src/app/db/queries.tsx
  src/app/page.tsx
  src/app/work/page.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

Update README.md
  README.md
Due: prettier -w

fix: update blog pages
  .husky/post-merge
  bun.lockb
  next.config.mjs
  package-lock.json
  package.json
  public/sprite.svg
  public/svg/nodejs.svg
  public/svg/postgresql.svg
  src/app/api/auth/[...nextauth]/route.ts
  src/app/auth.ts
  src/app/blog/[slug]/sandpack.tsx
  src/app/db/blog.ts
  src/app/db/queries.tsx
  src/app/page.tsx
  src/content/hello-world.mdx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: update nextauth & page guestbook
  bun.lockb
  next.config.mjs
  package.json
  src/app/admin/page.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/auth.ts
  src/app/blog/[slug]/page.tsx
  src/app/db/actions.ts
  src/app/guestbook/page.tsx
  src/app/layout.tsx
  src/components/admin/button.tsx
  src/components/admin/form.tsx
  src/components/guestbook/button.tsx
  src/components/mdx.tsx
  src/components/providers.tsx
  src/components/sandpack-files.tsx
  src/components/sandpack.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: update sign with github in guestbook
  public/svg/verified.svg
  src/app/api/auth/[...nextauth]/route.ts
  src/app/auth.ts
  src/app/db/actions.ts
  src/app/db/queries.tsx
  src/app/guestbook/page.tsx
  src/app/layout.tsx
  src/components/guestbook/button.tsx
  src/components/providers.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: update types any
  src/app/admin/page.tsx
  src/app/blog/[slug]/page.tsx
  src/app/db/actions.ts
  src/components/admin/form.tsx
  src/components/mdx.tsx
  src/types/entry.ts
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

feat: add google analytic
  bun.lockb
  next.config.mjs
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ui/button.tsx
  yarn.lock
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: error build vercel
  src/app/blog/[slug]/page.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: update hardcode GA_ID
  src/app/layout.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: test update items for GA
  src/components/ui/button.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: update gtmId
  src/app/layout.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w

fix: update button
  src/components/ui/button.tsx
Due: eslint --max-warnings=0 --ignore-pattern '!.prettierrc.js', prettier -w
